
.vs/C\#_treinamento/FileContentIndex/7d53552c-18c8-4d0c-a477-98b0afe26c4f.vsidx
*.vsidx
.vs/C\#_treinamento/DesignTimeBuild/.dtbcache.v2
.vs/C\#_treinamento/DesignTimeBuild/.dtbcache.v2
C\#_treinamento/obj/Debug/net8.0/C\#_treinamento.AssemblyInfoInputs.cache
C\#_treinamento/obj/Debug/net8.0/C\#_treinamento.AssemblyInfo.cs
