
.vs/C\#_treinamento/FileContentIndex/7d53552c-18c8-4d0c-a477-98b0afe26c4f.vsidx
*.vsidx
.vs/C\#_treinamento/DesignTimeBuild/.dtbcache.v2
.vs/C\#_treinamento/DesignTimeBuild/.dtbcache.v2
C\#_treinamento/obj/Debug/net8.0/C\#_treinamento.AssemblyInfoInputs.cache
C\#_treinamento/obj/Debug/net8.0/C\#_treinamento.AssemblyInfo.cs
ExercicioEstoque/obj/project.nuget.cache
ExercicioEstoque/obj/project.assets.json
ExercicioEstoque/obj/ExercicioEstoque.csproj.nuget.g.targets
ExercicioEstoque/obj/ExercicioEstoque.csproj.nuget.g.props
ExercicioEstoque/obj/ExercicioEstoque.csproj.nuget.dgspec.json
ExercicioEstoque/obj/Debug/net8.0/ExercicioEstoque.GlobalUsings.g.cs
ExercicioEstoque/obj/Debug/net8.0/ExercicioEstoque.GeneratedMSBuildEditorConfig.editorconfig
ExercicioEstoque/obj/Debug/net8.0/ExercicioEstoque.assets.cache
ExercicioEstoque/obj/Debug/net8.0/ExercicioEstoque.AssemblyInfoInputs.cache
ExercicioEstoque/obj/Debug/net8.0/ExercicioEstoque.AssemblyInfo.cs
ExercicioEstoque/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ExercicioEstoque/ExercicioEstoque.csproj
Desafio_relacionamentoEntreClasses/obj/Debug/net8.0/Desafio_relacionamentoEntreClasses.AssemblyInfoInputs.cache
Desafio_relacionamentoEntreClasses/obj/Debug/net8.0/Desafio_relacionamentoEntreClasses.AssemblyInfo.cs
Desafio_relacionamentoEntreClasses/AtividadeInstanciar.cs
C\#_treinamento/obj/Debug/net8.0/C\#_treinamento.AssemblyInfoInputs.cache
C\#_treinamento/obj/Debug/net8.0/C\#_treinamento.AssemblyInfo.cs
.vs/C\#_treinamento/v17/.suo
*.cache
Exercises/obj/Debug/net8.0/Exercises.AssemblyInfo.cs
Exercises/obj/Debug/net8.0/Exercises.AssemblyInfoInputs.cache
OrientacaoAObjetos/obj/Debug/net8.0/OrientacaoAObjetos.AssemblyInfo.cs
OrientacaoAObjetos/obj/Debug/net8.0/OrientacaoAObjetos.AssemblyInfoInputs.cache
