
.vs/C\#_treinamento/FileContentIndex/7d53552c-18c8-4d0c-a477-98b0afe26c4f.vsidx
*.vsidx
.vs/C\#_treinamento/DesignTimeBuild/.dtbcache.v2
.vs/C\#_treinamento/DesignTimeBuild/.dtbcache.v2
C\#_treinamento/obj/Debug/net8.0/C\#_treinamento.AssemblyInfoInputs.cache
C\#_treinamento/obj/Debug/net8.0/C\#_treinamento.AssemblyInfo.cs
ExercicioEstoque/obj/project.nuget.cache
ExercicioEstoque/obj/project.assets.json
ExercicioEstoque/obj/ExercicioEstoque.csproj.nuget.g.targets
ExercicioEstoque/obj/ExercicioEstoque.csproj.nuget.g.props
ExercicioEstoque/obj/ExercicioEstoque.csproj.nuget.dgspec.json
ExercicioEstoque/obj/Debug/net8.0/ExercicioEstoque.GlobalUsings.g.cs
ExercicioEstoque/obj/Debug/net8.0/ExercicioEstoque.GeneratedMSBuildEditorConfig.editorconfig
ExercicioEstoque/obj/Debug/net8.0/ExercicioEstoque.assets.cache
ExercicioEstoque/obj/Debug/net8.0/ExercicioEstoque.AssemblyInfoInputs.cache
ExercicioEstoque/obj/Debug/net8.0/ExercicioEstoque.AssemblyInfo.cs
ExercicioEstoque/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ExercicioEstoque/ExercicioEstoque.csproj
Desafio_relacionamentoEntreClasses/obj/Debug/net8.0/Desafio_relacionamentoEntreClasses.AssemblyInfoInputs.cache
Desafio_relacionamentoEntreClasses/obj/Debug/net8.0/Desafio_relacionamentoEntreClasses.AssemblyInfo.cs
Desafio_relacionamentoEntreClasses/AtividadeInstanciar.cs
C\#_treinamento/obj/Debug/net8.0/C\#_treinamento.AssemblyInfoInputs.cache
C\#_treinamento/obj/Debug/net8.0/C\#_treinamento.AssemblyInfo.cs
.vs/C\#_treinamento/v17/.suo
*.cache
Exercises/obj/Debug/net8.0/Exercises.AssemblyInfo.cs
Exercises/obj/Debug/net8.0/Exercises.AssemblyInfoInputs.cache
OrientacaoAObjetos/obj/Debug/net8.0/OrientacaoAObjetos.AssemblyInfo.cs
OrientacaoAObjetos/obj/Debug/net8.0/OrientacaoAObjetos.AssemblyInfoInputs.cache
Csharp_treinamento.sln
.vs/ProjectEvaluation/csharp_treinamento.projects.v7.bin
.vs/ProjectEvaluation/csharp_treinamento.metadata.v7.bin
.vs/Csharp_treinamento/v17/.suo
.vs/Csharp_treinamento/v17/.futdcache.v2
.vs/Csharp_treinamento/DesignTimeBuild/.dtbcache.v2
.vs/Csharp_treinamento/DesignTimeBuild/.dtbcache.v2
.vs/Csharp_treinamento/v17/.futdcache.v2
.vs/Csharp_treinamento/v17/.suo
.vs/ProjectEvaluation/csharp_treinamento.metadata.v7.bin
.vs/ProjectEvaluation/csharp_treinamento.projects.v7.bin
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Album(ObjetosEstáticos)/obj/Debug/net8.0/Album(ObjetosEstáticos).AssemblyInfo.cs
C\#(dominando_OO)/obj/Debug/net8.0/Csharp_dominando_OO.AssemblyInfo.cs
C\#_treinamento/obj/Debug/net8.0/C\#_treinamento.AssemblyInfo.cs
C\#_treinamento/obj/Debug/net8.0/C\#_treinamento.AssemblyInfoInputs.cache
Csharp_treinamento.sln
Desafio/bin/Debug/net8.0/Desafio.deps.json
Desafio/bin/Debug/net8.0/Desafio.dll
Desafio/bin/Debug/net8.0/Desafio.exe
Desafio/bin/Debug/net8.0/Desafio.pdb
Desafio/bin/Debug/net8.0/Desafio.runtimeconfig.json
Desafio/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
Desafio/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
Desafio/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
Desafio/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
Desafio/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Desafio/bin/Debug/net8.0/Microsoft.Extensions.Http.dll
Desafio/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
Desafio/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
Desafio/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
Desafio/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
Desafio/bin/Debug/net8.0/Newtonsoft.Json.dll
Desafio/bin/Debug/net8.0/OpenAI_API.dll
Desafio/Desafio.csproj
Desafio/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Desafio/obj/Debug/net8.0/apphost.exe
Desafio/obj/Debug/net8.0/Desafio.AssemblyInfo.cs
Desafio/obj/Debug/net8.0/Desafio.csproj.BuildWithSkipAnalyzers
Desafio/obj/Debug/net8.0/Desafio.csproj.CopyComplete
Desafio/obj/Debug/net8.0/Desafio.csproj.FileListAbsolute.txt
Desafio/obj/Debug/net8.0/Desafio.dll
Desafio/obj/Debug/net8.0/Desafio.GeneratedMSBuildEditorConfig.editorconfig
Desafio/obj/Debug/net8.0/Desafio.GlobalUsings.g.cs
Desafio/obj/Debug/net8.0/Desafio.pdb
Desafio/obj/Debug/net8.0/Desafio.sourcelink.json
Desafio/obj/Debug/net8.0/ref/Desafio.dll
Desafio/obj/Debug/net8.0/refint/Desafio.dll
Desafio/obj/Desafio.csproj.nuget.dgspec.json
Desafio/obj/Desafio.csproj.nuget.g.props
Desafio/obj/Desafio.csproj.nuget.g.targets
Desafio/obj/project.assets.json
Desafio/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Desafio/obj/Release/net8.0/Desafio.AssemblyInfo.cs
Desafio/obj/Release/net8.0/Desafio.GeneratedMSBuildEditorConfig.editorconfig
Desafio/obj/Release/net8.0/Desafio.GlobalUsings.g.cs
Desafio/Program.cs
Desafio_relacionamentoEntreClasses/obj/Debug/net8.0/Desafio_relacionamentoEntreClasses.AssemblyInfo.cs
Desafio_relacionamentoEntreClasses/obj/Debug/net8.0/Desafio_relacionamentoEntreClasses.AssemblyInfoInputs.cache
DesafioAlura(aplicando_a_OO)/obj/Debug/net8.0/DesafioAlura(aplicando_a_OO).AssemblyInfo.cs
Escola/obj/Debug/net8.0/Escola.AssemblyInfo.cs
Ex1/obj/Debug/net8.0/Ex1_Geometricas.AssemblyInfo.cs
Ex2_empresa/obj/Debug/net8.0/Ex2_empresa.AssemblyInfo.cs
Ex2_Veiculo/obj/Debug/net8.0/Ex2_Veiculo.AssemblyInfo.cs
Ex3_BankAccounts/obj/Debug/net8.0/Ex3_BankAccounts.AssemblyInfo.cs
Ex4_Animais/obj/Debug/net8.0/Ex4_Animais.AssemblyInfo.cs
ex4_Notific/obj/Debug/net8.0/ex4_Notific.AssemblyInfo.cs
ex4_Notific/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ex4_Notific/obj/Release/net8.0/ex4_Notific.AssemblyInfo.cs
ex4_Notific/obj/Release/net8.0/ex4_Notific.GeneratedMSBuildEditorConfig.editorconfig
ex4_Notific/obj/Release/net8.0/ex4_Notific.GlobalUsings.g.cs
Ex4_Recuperacao/Arquivo.cs
Ex4_Recuperacao/BancoDeDados.cs
Ex4_Recuperacao/Ex4_Recuperacao.csproj
Ex4_Recuperacao/IArmazenavel.cs
Ex4_Recuperacao/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Ex4_Recuperacao/obj/Debug/net8.0/Ex4_Recuperacao.AssemblyInfo.cs
Ex4_Recuperacao/obj/Debug/net8.0/Ex4_Recuperacao.GeneratedMSBuildEditorConfig.editorconfig
Ex4_Recuperacao/obj/Debug/net8.0/Ex4_Recuperacao.GlobalUsings.g.cs
Ex4_Recuperacao/obj/Ex4_Recuperacao.csproj.nuget.dgspec.json
Ex4_Recuperacao/obj/Ex4_Recuperacao.csproj.nuget.g.props
Ex4_Recuperacao/obj/Ex4_Recuperacao.csproj.nuget.g.targets
Ex4_Recuperacao/obj/project.assets.json
Ex4_Recuperacao/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Ex4_Recuperacao/obj/Release/net8.0/Ex4_Recuperacao.AssemblyInfo.cs
Ex4_Recuperacao/obj/Release/net8.0/Ex4_Recuperacao.GeneratedMSBuildEditorConfig.editorconfig
Ex4_Recuperacao/obj/Release/net8.0/Ex4_Recuperacao.GlobalUsings.g.cs
Ex4_Recuperacao/Program.cs
Exercicio-fase4-aprendendoPOO/obj/Debug/net8.0/Exercicio-fase4-aprendendoPOO.AssemblyInfo.cs
Exercises/obj/Debug/net8.0/Exercises.AssemblyInfo.cs
Exercises/obj/Debug/net8.0/Exercises.AssemblyInfoInputs.cache
ExercícioRestaurante/obj/Debug/net8.0/ExercícioRestaurante.AssemblyInfo.cs
Exercícios/obj/Debug/net8.0/Petshop.AssemblyInfo.cs
OrientacaoAObjetos/obj/Debug/net8.0/OrientacaoAObjetos.AssemblyInfo.cs
OrientacaoAObjetos/obj/Debug/net8.0/OrientacaoAObjetos.AssemblyInfoInputs.cache
part2DominandoPOO/obj/Debug/net8.0/ScreenSound.AssemblyInfo.cs
