<MudCard>
    <MudCardMedia Image="images/cardArtista.png"></MudCardMedia>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">@Musica!.Nome</MudText>
            </CardHeaderContent>
        </MudCardHeader>
    <MudCardContent>
        <a href="c:\users\claud\onedrive\área de trabalho\programação\linguagens-programação\c#_treinamento\csharpcode\screensound.web\pages\cruds\cadastrarartista.razor">c:\users\claud\onedrive\área de trabalho\programação\linguagens-programação\c#_treinamento\csharpcode\screensound.web\pages\cruds\cadastrarartista.razor</a>
            <MudText Typo="Typo.body2">Artista/Banda:@Musica!.NomeArtista</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Color="Color.Warning"
                        Variant="Variant.Outlined"
                        Href=@($"/EditarMusica/{Musica!.Nome}")>Detalhes
            </MudButton> 
        </MudCardActions>
    </MudCard>

    @code {
    [Parameter]
    public MusicaResponse? Musica { get; set; }

}