@page "/EditarArtista/{NomeArtista}"
@using ScreenSound.API.Requests
@inject ArtistaAPI artistaAPI
@inject NavigationManager navigationManager
<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">

    <MudText Class="mt-8" Typo="Typo.h4">Edição de Artista</MudText>

    <MudForm>

        <MudTextField Class="mt-4" T="string" Placeholder="Nome do Artista"
                      Variant="Variant.Outlined"
                      @bind-Value="nome"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <MudTextField Class="mt-4" T="string" Placeholder="Biografia do artista"
                      Variant="Variant.Outlined"
                      @bind-Value="bio"
                      Lines="4"
                      Required="true"
                      RequiredError="Campo obrigatório." />
        <MudImage Class="mt-4" src="@fileImage" />
        <MudFileUpload T="IBrowserFile" Accept=".jpeg" FilesChanged="UploadFile">
            <ActivatorContent>
                <MudButton HtmlTag="label"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.PhotoCamera">
                    Foto de Perfil
                </MudButton>
            </ActivatorContent>
        </MudFileUpload>

        <div class="d-flex align-center justify-space-between mt-4">
            <MudButton Variant="Variant.Filled"
                       @onclick="Deletar"
                       Color="Color.Secondary"
                       Class="ml-auto">
                Deletar
            </MudButton>
        </div>
        <div class="d-flex align-center justify-space-between mt-4">
            <MudButton Variant="Variant.Filled"
                       @onclick="Atualizar"
                       Color="Color.Success"
                       Class="ml-auto">
                Atualizar
            </MudButton>
        </div>
        <div class="d-flex align-center justify-space-between mt-4">
            <MudButton Variant="Variant.Filled"
                       @onclick="BackToList"
                       Color="Color.Dark"
                       Class="ml-auto">
                Retornar a Lista
            </MudButton>
        </div>

    </MudForm>
</MudPaper>
@code {
    private string? nome;
    private string? bio;
    private string? fileImage;
    private string? fotoPerfil;

    [Parameter]
    public string? NomeArtista { get; set; }

    public ArtistaResponse? artista { get; set; }

    protected override async Task OnInitializedAsync()
    {
        artista = await artistaAPI.GetArtistaPorNomeAsync(NomeArtista!);
        nome = artista!.nome;
        bio = artista!.bio;
    }

    private async Task Deletar()
    { 
        await artistaAPI.DeleteArtistaAsync(artista!.Id);
        BackToList();
    }

    private async Task Atualizar()
    {
        var requestEdit = new ArtistaRequestEdit( nome!, bio!, artista!.Id, fotoPerfil);
        await artistaAPI.UpdateArtistaAsync(requestEdit);
        BackToList();
    }
    private void BackToList()
    {
        navigationManager.NavigateTo("/Artistas");
    }
    private async Task UploadFile(IBrowserFile file)
    {
        var arquivos = await ImageFileManager.UploadFile(file);
        fileImage = arquivos["fileImage"];
        fotoPerfil = arquivos["foto"];

    }
}